;; configuration options for pav-conf.jar
{
 ;; where to listen
 :port 8080

 ;; setting up production to true will speed up Vaadin requests
 :production true

 ;; convox options
 :convox-api-host "grid.convox.com"
 :convox-api-key  "bcef03e4-5dfb-4857-86b4-bbd929087a2b"

 ;; hardcoded user database 
 :users [["admin" "uU3bUYFeEfaBprXz"]
         ["john"  "L2uLhwGGCKqh357q"]]
}
