;; configuration options for pav-conf.jar
{
 ;; where to listen
 :port 8080

 ;; setting up production to true will speed up Vaadin requests
 :production true

 ;; convox options
 :convox-api-host "convox-pav-dev-629155429.us-east-1.elb.amazonaws.com"
 :convox-api-key  "DjJRSfKPKmAsZRlEsjDNDNCxBCjNtQ"

 ;; convox options; every member of a vector is a separate rack with common options
 :convox-hosts [{:name "Dev"
                 :host "convox-pav-dev-629155429.us-east-1.elb.amazonaws.com"
                 :password "DjJRSfKPKmAsZRlEsjDNDNCxBCjNtQ"}

                {:name "Production"
                 :host "convox-165269537.us-west-2.elb.amazonaws.com"
                 :password "DjJRSfKPKmAsZRlEsjDNDNCxBCjNtQ"}]

 ;; hardcoded user database
 :users [["admin" "uU3bUYFeEfaBprXz"]
         ["john"  "L2uLhwGGCKqh357q"]]
}
