/* -*- mode: css; indent-tabs-mode: nil -*- */
@import "../valo/valo.scss";

@mixin pav-conf {
    @include valo;
    
    .main-view {
    }
    
    .right-view {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .main-view-header {
        padding-left: 10px;
    }
}